ACCESS_TOKEN_EXPIRES_IN="15m"

ACCESS_TOKEN_SECRET=""

BCRYPT_SALT_ROUNDS="12"

COOKIE_SECRET=""

CORS_ORIGIN="http://localhost:5173"

CRYPTO_ENCRYPTION_KEY=""

GOOGLE_CLIENT_ID=""

GOOGLE_CLIENT_SECRET=""

GOOGLE_REDIRECT_URL="http://localhost:8000/api/v1/auth/google/callback"

HOST="0.0.0.0"

JWT_ENCRYPTION_EXPIRE_IN="1d"

JWT_ENCRYPTION_KEY=""

MONGODB_URI="mongodb+srv:"

NODE_ENV="development"

PORT="8000"

REFRESH_TOKEN_EXPIRES_IN="7d"

REFRESH_TOKEN_SECRET=""
